@model gestion_des_formations_final.Models.Entreprise
@{
    Layout = null;
}

<dl class="row col-md-12">
    <dt class="col-xs-4 col-md-4 col-lg-4">
        @Html.DisplayNameFor(model => model.Designation)
    </dt>
    <dd class="col-xs-8 col-md-8 col-lg-8">
        @Html.DisplayFor(model => model.Designation)
    </dd>
    <br />
    <br />
    <dt class="col-xs-4 col-md-4 col-lg-4">
        @Html.DisplayNameFor(model => model.SecteurActivité)
    </dt>
    <dd class="col-xs-8 col-md-8 col-lg-8">
        @Html.DisplayFor(model => model.SecteurActivité)
    </dd>
    <br />
    <br />
    <dt class="col-xs-4 col-md-4 col-lg-4">
        @Html.DisplayNameFor(model => model.PersonneResponsable)
    </dt>
    <dd class="col-xs-8 col-md-8 col-lg-8">
        @Html.DisplayFor(model => model.PersonneResponsable)
    </dd>
    <br />
    <br />
    <dt class="col-xs-4 col-md-4 col-lg-4">
        @Html.DisplayNameFor(model => model.Metier)
    </dt>
    <dd class="col-xs-8 col-md-8 col-lg-8">
        @Html.DisplayFor(model => model.Metier)
    </dd>
    <br />
    <br />
    <dt class="col-xs-4 col-md-4 col-lg-4">
        @Html.DisplayNameFor(model => model.Siteweb)
    </dt>
    <dd class="col-xs-8 col-md-8 col-lg-8">
        <a href="http://@Html.DisplayFor(model => model.Siteweb)" target="_blank">@Html.DisplayFor(model => model.Siteweb)</a>
    </dd>
    <br />
    <br />
    <dt class="col-xs-4 col-md-4 col-lg-4">
        @Html.DisplayNameFor(model => model.Telephone)
    </dt>
    <dd class="col-xs-8 col-md-8 col-lg-8">
        @Html.DisplayFor(model => model.Telephone)
    </dd>
    <br />
    <br />
    <dt class="col-xs-4 col-md-4 col-lg-4">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-xs-8 col-md-8 col-lg-8">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <br />
    <br />
    <dt class="col-xs-4 col-md-4 col-lg-4">
        @Html.DisplayNameFor(model => model.Boitepostale)
    </dt>
    <dd class="col-xs-8 col-md-8 col-lg-8">
        @Html.DisplayFor(model => model.Boitepostale)
    </dd>
</dl>
<hr />
<dl class="row col-md-12">
    <dt class="col-md-2">
        @Html.DisplayNameFor(model => model.DateAjout)
    </dt>
    <dd class="col-md-4 text-danger">
        @Html.DisplayFor(model => model.DateAjout)
    </dd>
    <dt class="col-md-2">
        Par
    </dt>
    <dd class="col-md-4">
        Armelle-Eliane
    </dd>
</dl>
<dl class="row col-md-12">
    <dt class="col-md-2">
        @Html.DisplayNameFor(model => model.DateModif)
    </dt>
    <dd class="col-md-4 text-success">
        @Html.DisplayFor(model => model.DateModif)
    </dd>
    <dt class="col-md-2">
        Par
    </dt>
    <dd class="col-md-4">
        Armelle-Eliane
    </dd>

</dl>



