@model gestion_des_formations_final.Models.Formateur



            <div id="Detailsformateurs" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Fiche du formateur</h5>        
                        </div>
                        <div class="modal-body">
                            
                                <div class="col-xs-6"><span style="font-weight:bold;"> @Html.DisplayNameFor(model => model.Nom)</span>: <span class="text-danger" style="font-weight:bold;"> @Html.DisplayFor(model => model.Nom)</span></div>
                                <div class="col-xs-6"><span style="font-weight:bold;"> @Html.DisplayNameFor(model => model.Prenom)</span>: <span class="text-danger" style="font-weight:bold;"> @Html.DisplayFor(model => model.Prenom)</span></div>
                                <div class="col-xs-6"><span style="font-weight:bold;"> @Html.DisplayNameFor(model => model.Email)</span>: <span class="text-danger" style="font-weight:bold;"> @Html.DisplayFor(model => model.Email)</span></div>
                                <div class="col-xs-6"><span style="font-weight:bold;"> @Html.DisplayNameFor(model => model.Telephone)</span>: <span class="text-danger" style="font-weight:bold;"> @Html.DisplayFor(model => model.Telephone)</span></div>
                                <div class="col-xs-6"><span style="font-weight:bold;"> @Html.DisplayNameFor(model => model.DateAnniv)</span>: <span class="text-danger" style="font-weight:bold;"> @Html.DisplayFor(model => model.DateAnniv)</span></div>
                                <div class="col-xs-6"><span style="font-weight:bold;"> @Html.DisplayNameFor(model => model.Type)</span>: <span class="text-danger" style="font-weight:bold;"> @Html.DisplayFor(model => model.Type)</span></div>
                           
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn  btn-secondary"><a class="text-white" asp-action="Index">Retour</a></button>
                            <button type="button" class="btn  btn-primary"><a class="text-white" asp-controller="Formateur" asp-action="Edit" asp-route-id="@Model.FormateurId">mettre à jour</a></button>
                        </div>
                    </div>
                </div>
            </div> 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
                $('#Detailsformateurs').modal('show');
        });
    </script>
}