@model gestion_des_formations_final.Models.Formation
@{
    ViewData["Title"] = "Details";
}

<div id="Details" class="modal fade" role="dialog" aria-labelledby="exampleModalPopoversLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalPopoversLabel">@Html.DisplayFor(model => model.Intitule)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h5>Objectif</h5>
                <p>
                    @Html.DisplayFor(model => model.Description)
                </p>
                <hr />
                <span style="margin-right: 80px; font-weight: bold; font-size: 16px;"> @Html.DisplayNameFor(model => model.Prix): <i class="text-danger">@Html.DisplayFor(model => model.Prix)</i></span>
                <span style="font-weight: bold; font-size: 16px;"> @Html.DisplayNameFor(model => model.Duree): <i class="text-danger">@Html.DisplayFor(model => model.Duree)</i></span><br />
                <span style="font-weight: bold;font-size:16px;">
                    @Html.DisplayNameFor(model => model.FormationCertifiee):
                    @if (Model.FormationCertifiee == true)
                    {
                        <i class="text-danger">
                            Oui
                        </i>
                    }
                    else
                    {
                        <i class="text-danger">
                            Non
                        </i>
                    }
                    </i>
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary"><a class="text-white" asp-action="Index">Retour</a></button>
                <button type="button" class="btn  btn-primary"><a class="text-white" asp-controller="Formation" asp-action="ModifierFormation" asp-route-id="@Model.FormationId">mettre à jour</a></button>
            </div>
        </div>
    </div>
</div>