<!--Index de formation-->
<!-- [ Main Content ] start -->
@model IEnumerable<gestion_des_formations_final.Models.Formation>


        <div class="row">
            <!-- Multi-column table start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn  btn-primary"><a class="text-white" asp-controller="Formation" asp-action="AjouterFormation"><i class="fa fa-plus"></i>&nbsp;&nbsp;Ajouter une formation</a></button>
                    </div>

                    <div class="card-body">
                        <div>
                            <table id="res-config" class="display table table-striped table-hover  dt-responsive nowrap" style="width:100%">
                                <thead class="text-center">
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.Intitule)</th>
                                        <th> @Html.DisplayNameFor(model => model.Prix)</th>
                                        <th> @Html.DisplayNameFor(model => model.Duree)</th>
                                        <th>@Html.DisplayNameFor(model => model.FormationCertifiee)</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td class="text-center" id="intitule">
                                                @Html.DisplayFor(modelItem => item.Intitule)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.Prix)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.Duree) &nbsp;Jour(s)
                                            </td>
                                            @if (item.FormationCertifiee == true)
                                            {
                                                <td class="text-center text-danger" style="font-weight:bold">
                                                    Oui
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center" style="font-weight:bold">
                                                    Non
                                                </td>

                                            }

                                            <td>
                                                <a asp-controller="Formation" asp-action="ModifierFormation" asp-route-id="@item.FormationId" class="text-success"><i class="icon feather icon-edit f-16  text-c-green"></i></a>
                                                <a class="text-danger" onclick="Delete(@item.FormationId)"><i class="feather icon-trash-2 ml-3 f-16 text-c-red"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a onclick=" ViewAjaxCallModal('/Formation/Details/@item.FormationId', '#ViewModal')" data-toggle="modal" data-target="#ViewModal" class="text-primary"><i class="fa fa-eye"></i></a>
                                            </td>


                                        </tr>


                                    }
                                </tbody>
                                <tfoot></tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            
            </div>
            <!-- Multi-column table end -->
        </div>
        

@section Scripts {
    
    <script>
        function Delete(id) {
            sweetAlert
                ({
                    title: "êtes vous sûre",
                    text: "de vouloir supprimer cette formation ?",
                    type: "Warning",
                    dangerMode:true,
                    buttons: ["Annuler", "Supprimer"],
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "Formation/Delete/",
                            data:
                            {
                                id: id
                            },
                            type: "GET",
                            success: function (data) {
                                console.log(data);

                                sweetAlert(
                                    'Deleted',
                                    'Votre suppression a bien été éffectuée',
                                    'success'
                                ).then(function () {
                                    location.reload();
                                })
                                    
                            }
                        });
                    }else {
                            swal("Oops!!!!", "annulation de la suppression", "error");
                            
                        }
                        
                    });
                }

    </script>
}

