<!--Index de formation-->
<!-- [ Main Content ] start -->
@model IEnumerable<gestion_des_formations_final.Models.Formation>
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <!-- Multi-column table start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn  btn-primary"><a class="text-white" asp-controller="Formation" asp-action="AjouterFormation"><i class="fa fa-plus"></i>&nbsp;&nbsp;Ajouter une formation</a></button>
                    </div>
                    <div class="card-body">
                        <div class="dt-responsive table-responsive">
                            <table id="multi-colum-dt" class="table table-striped table-bordered nowrap ">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.Intitule)</th>
                                        <th> @Html.DisplayNameFor(model => model.Prix)</th>
                                        <th> @Html.DisplayNameFor(model => model.Duree)</th>
                                        <th>@Html.DisplayNameFor(model => model.FormationCertifiee)</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td id="intitule">
                                                @Html.DisplayFor(modelItem => item.Intitule)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Prix)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Duree)
                                            </td>
                                            @if (item.FormationCertifiee == true)
                                            {
                                                <td>
                                                    Oui
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    Non
                                                </td>

                                            }

                                            <td><a asp-controller="Formation" asp-action="ModifierFormation" asp-route-id="@item.FormationId" class="text-success"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a asp-controller="Formation" asp-action="Delete" asp-route-id="@item.FormationId" class="text-danger "><i class="fa fa-trash"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a asp-controller="Formation" asp-action="Details" asp-route-id="@item.FormationId" class="text-primary"><i class="fa fa-eye"></i></a></td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Multi-column table end -->
        </div>
    </div>
</section>
@section Scripts {
    
    <script>

        

    </script>
}
