@model IEnumerable<gestion_des_formations_final.Models.Formation>

@{
    ViewData["Title"] = "Index2";
}

<h1>Index2</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Intitule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormationCertifiee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Intitule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormationCertifiee)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FormationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FormationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FormationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
