@model gestion_des_formations_final.Models.Organisme
@{
    Layout = null;
}

<div class="row">
    <div class="col-7">
        <dl class="row">
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.Designation)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.Designation)
            </dd>

            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.Sigle)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.Sigle)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.SiteWeb)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.SiteWeb)
            </dd>
            <dt class="col-md-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-md-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>

        <hr />

        <dl class="row">

            <dt class="col-md-2">
                @Html.DisplayNameFor(model => model.DateAjout)
            </dt>
            <dd class="col-md-3">
                @Html.DisplayFor(model => model.DateAjout)
                :
                @Model.DateAjout.ToShortTimeString()
            </dd>
            <dt class="col-md-1">
                Par
            </dt>
            <dd class="col-md-6">
                Armelle-eliane
            </dd>
            <dt class="col-md-2">
                @Html.DisplayNameFor(model => model.DateModif)
            </dt>
            <dd class="col-md-3">
                @Html.DisplayFor(model => model.DateModif)
                :
                @Model.DateModif.ToShortTimeString()
            </dd>
            <dt class="col-md-1">
                Par
            </dt>
            <dd class="col-md-6">
                Armelle-eliane
            </dd>
        </dl>
    </div>
</div>

